@import "zeroing.scss";
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@700&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,900;1,500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

$text: #2D3033;
$line: #F38281;
$active: #F4BF87;
$most: #95E1D3;
$back: #F8F8F8;
$invis: #C6CBCD;
$snow: #FFFFFF;
$gold: #E4BE8D;
$slaid: #F9EFCF;


body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: $text;

    .container {
        width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
    }

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 144px;
        line-height: 176px;
        text-transform: uppercase;
        padding: 9px 0;
    }

    h2 {
        font-family: 'Kaushan Script', cursive;
        font-weight: 400;
        font-size: 30px;
        line-height: 44px;
    }

    h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
    }

    h4 {
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;
        text-transform: uppercase;
    }

    a {
        text-align: center;
        text-transform: uppercase;
    }

    img {
        object-fit: cover;
    }
}

.header {
    position: absolute;
    width: 100%;

    .container {
        display: flex;
        justify-content: space-between;
    }

    #burger, [for=burger] {
        display: none;
    }

    &__menu {
        display: flex;
        align-items: center;

        &__link {
            width: 114px;
            padding: 42px 0;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            color: $snow;
            text-align: center;

            &:hover {
                color: $active;
            }

            &:active {
                color: $active;
                position: relative;

                &::before {
                    content: "";
                    width: 85px;
                    height: 1px;
                    background-color: $active;
                    position: absolute;
                    bottom: 37px;
                    left: 14.5px;
                }
            }
        }

        &__icon {
            width: 24px;
            height: 24px;
            transition: all .2s ease;

            &:nth-last-child(2) {
                margin: 0 35px 0 17px;
            }

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

.hat {
    text-align: center;
    padding-top: 42px;

    &__sense {
        padding: 18px 0;
    }

    &__title {
        padding: 19.5px 0;
    }

    &__line {
        width: 170px;
        height: 4px;
        background-color: $line;
        margin: 20px auto 0;
    }

    &__text {
        padding: 38px 0;
    }


}

.main {
    background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%), url(../img/main_1.jpg) no-repeat center center / cover;
    padding-top: 177px;
    color: $snow;

    .hat {
        padding: 0;

        &__sense {
            font-size: 64px;
            line-height: 80px;
            padding: 0;
        }

        &__line {
            background-color: $snow;
            margin-top: 40px;
        }
    }

    &__button {
        width: 370px;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: $snow;
        text-align: center;
        border: 4px solid $snow;
        display: block;
        padding: 22px 0;
        margin: 72px auto 116px;
        transition: background-color .2s ease, color .2s ease, border-color .2s ease;

        &:hover {
            background-color: $snow;
            color: $gold;
        }

        &:active {
            border-color: $gold;
        }
    }

    &__slaid {
        display: flex;
        justify-content: space-between;
        color: $slaid;

        &__timer {
            width: 270px;
            position: relative;

            &:first-of-type {
                color: $snow;

                &::before {
                    content: "";
                    width: 70px;
                    height: 4px;
                    background-color: $line;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                hr {
                    background-color: $snow;
                }

            }

            hr {
                height: 4px;
                background-color: $slaid;
            }

            p {
                font-weight: 500;
                text-transform: uppercase;
                padding: 19.5px 0;
                    
                span {
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 42px;
                }
            }
        }
    }
}

.description {
    display: flex;
    column-gap: 30px;
    margin: 58px 0 106px;

    &__project {
        position: relative;
        flex-grow: 1;

        &:hover .description__project__hov {
            opacity: 1;
        }

        &__img {
            width: 100%;
            height: 100%;
        }

        &__hov {
            opacity: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 30px;
            background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
            position: absolute;
            top: -16px;
            left: -16px;
            transition: opacity .3s ease;

            h3 {
                font-weight: 500;
                color: $snow;
            }
        }
    }
}

.amount {
    background-color: $most;
    color: $snow;

    .container {
        display: flex;
    }

    &__reason {
        text-align: center;
        border-right: 1px solid $snow;
        padding: 64px 0;
        flex-grow: 1;

        &:first-child {
            border-left: 1px solid $snow;
        }

        &__much {
            font-weight: 700;
            font-size: 64px;
            line-height: 75px;
            padding-bottom: 19px;
        }

        &__what {
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
        }
    }
}

.scope__choose {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 140px;
    column-gap: 30px;
    margin: 80px auto 91px;

    &__kind {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(2, auto);
        column-gap: 30px;

        img {
            grid-row: 1 / 3;
        }

        h3 {
            padding: 11.5px 0;
            margin-top: 8px;
        }

        p {
            padding: 19px 0;
        }
    }
}

.design {
    background: url(../img/design_bg.jpg) no-repeat center center / cover;
    padding-bottom: 57px;

    &__device {
        position: relative;

        &__tablet {
            display: block;
            margin: 59px auto 0;
        }

        &__phone {
            position: absolute;
            right: 200px;
            bottom: -98.5px;
        }
    }    
}

.service__doing {
    display: flex;
    column-gap: 30px;
    padding: 42px 0 114px;

    &__acc {
        display: flex;
        flex-direction: column;
        row-gap: 22px;

        input {
            display: none;
        }

        input:checked ~ article {
            height: 163px;
            border: 1px solid $invis;
            border-top: none;
            padding: 27px 60px 27px 22px;
            transition: height .5s ease, padding-top .5s ease;
        }

        label {
            display: flex;
            align-items: center;
            border: 1px solid $invis;
            position: relative;

            img {
                padding: 24px 40px 24px 18px;
            }

            span {
                width: 23px;
                height: 23px;
                border-top: 2px solid $invis;
                border-right: 2px solid $invis;
                transform: rotate(135deg);
                position: absolute;
                right: 26px;
                top: 24px;
                transition: all .5s ease;
            }

        }

        input:checked ~ label span {
            transform: rotate(-45deg);
            top: 36px;
        }

        article {
            height: 0;
            overflow: auto;
            
            &::-webkit-scrollbar {
                width: 7px;
                background-color: #F5F5F5;
            }

            &::-webkit-scrollbar-thumb {
                background-color:  #95E1D3;
            }
        }
    }
}

.quotes {
    background-color: $back;
    padding: 42px 0;

    .container {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(5, auto);
        align-items: center;

        span {
            width: 23px;
            height: 23px;
            border-top: 2px solid $invis;
            border-right: 2px solid $invis;
            grid-row: 1 / 3;
        }

        span:first-of-type {
            transform: rotate(-135deg);
        }

        span:last-of-type {
            grid-column: 5;
            transform: rotate(45deg);
        }

        img {
            grid-row: 1 / 3;
            margin: 0 30px 0 60px;
        }

        p {
            grid-column: 3 / 5;
            font-style: italic;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: #A9AFB1;
            padding: 6px 0;
            margin-right: 82px;
        }

        hr {
            width: 73px;
            margin: 0;
        }

        h2 {
            padding: 4.5px 0;
            margin-left: -340px;
        }
    }
}

.team {
    .description {
        margin-bottom: 84px;

        &__project {
            text-align: center;

            &__img {
                height: 424px;
            }

            &__hov {
                height: 424px;
                flex-direction: row;
                column-gap: 1px;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 42px;
                    height: 42px;
                    font-size: 32px;
                    background-color: $slaid;
                    color: $line;
                    transition: all .2s ease;

                    &:hover {
                        color: $snow;
                        background-color: $line;
                    }
                }
            }

            h3 {
                padding: 26px 0;
            }

            p {
                padding: 4.5px 0;
                text-transform: uppercase;
            }
        }
    }
}

.partners {
    background-color: $back;
    padding: 65px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            transition: all .3s ease;

            &:hover {
                transform: scale(1.2);
            }

            &:active {
                transform: scale(1.1);
            }
        }
    }
}

.work {
    .hat {
        padding-top: 84px;
    }

    .description {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        column-gap: 0;
        margin: 42px auto 84px;

        &__project {
            &:nth-of-type(3) {
                grid-row: 1 / 3;
                grid-column: 3;

                a {
                    margin-top: 80%;
                }
            }

            &__hov {
                justify-content: start;
                align-items: center;
                row-gap: 0;
                top: 0;
                left: 0;

                a {
                    margin: 30% 0 57px;
                }

                h3 {
                    font-weight: 700;
                    padding: 11px 0;
                }

                p {
                    color: $snow;
                    padding: 4.5px 0;
                }
            }
        }
    }
}

.quotes_2 {
    background-color: $snow;
    padding-bottom: 126px;

    img {
        border-radius: 50%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.reviews {
    background: url(../img/reviews_bg.jpg) no-repeat center center / cover;

    &__clients {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        row-gap: 42px;
        column-gap: 50px;
        padding: 42px 10px;

        &__say {
            display: grid;
            grid-template-rows: repeat(4, auto);
            grid-template-columns: repeat(2, auto);
            column-gap: 50px;

            img {
                grid-row: 1 / 5;
                border-radius: 50%;
                margin-top: 20px;
            }

            h3 {
                padding: 12px 0;
            }

            p:first-of-type {
                line-height: 19px;
                text-transform: uppercase;
            }

            .hat__line {
                width: 70px;
                margin: 30px 0;
            }

            p:last-of-type {
                padding: 22.5px 0;
            }
        }
    }
}

.blog {
    .hat {
        padding-top: 84px;
    }

    .description {
        margin: 42px 0 84px;
    }

    &__stories {
        position: relative;

        &__data {
            width: 80px;
            height: 80px;
            font-weight: 500;
            line-height: 30px;
            text-transform: uppercase;
            text-align: center;
            background-color: $most;
            color: $snow;
            padding: 8px 10px 0;
            position: absolute;
            top: 148px;
            left: -14px;

            time {
                font-weight: 700;
                font-size: 36px;
            }
        }

        h3 {
            padding: 6px 0;
            margin-top: 30px;
        }

        > p {
            padding: 7.5px 0;
        }

        &__marks {
            display: flex;
            margin-top: 23px;

            p {
                width: 52px;
                font-size: 13px;
                line-height: 15px;
                padding: 8.5px 0;
                margin: 0 16px;
            }
        }
    }
}

.banner {
    background: url(../img/banner_bg.jpg) no-repeat center center / cover;

    .hat {
        padding-bottom: 42px;

        h4 {
            color: $line;
        }
    }
}

.footer {
    background-color: $back;
    padding-top: 42px;

    .container {
        h3 {
            padding: 36px 0;
        }
        
        > p {
            width: 100%;
            font-weight: 700;
            font-size: 13px;
            line-height: 15px;
            text-transform: uppercase;
            text-align: center;
            border-top: 1px solid $invis;
            padding: 17px 0;
            margin-top: 42px;
        }
    }

    &__wrap {
        display: flex;
        column-gap: 30px;

        &__net {
            > p:first-of-type {
                width: 370px;
                color: $invis;
                padding: 17.5px 0;
            }
    
            > p:last-of-type {
                text-transform: uppercase;
                padding: 22px 0;
    
                span {
                    line-height: 30px;
                }
    
                span:first-of-type {
                    font-weight: 700;
                    font-size: 36px;
                }
    
                span:nth-of-type(2) {
                    font-weight: 700;
                }
    
                span:last-of-type {
                    font-style: italic;
                }
            }
    
            &__links {
                display: flex;
                justify-content: center;
                align-items: center;
                border-top: 1px solid $invis;
                column-gap: 11px;
    
                p {
                    width: 70px;
                    font-style: italic;
                    font-size: 13px;
                    line-height: 15px;
                    color: $invis;
                    padding: 13.5px 0;
                    margin-right: 19px;
                }
    
                a {
                    transition: all .2s ease;
    
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
    
            &__form {
                margin-top: 37px;
    
                input {
                    font-size: 18px;
                    line-height: 21px;
                    text-align: center;
                }
    
                input:first-of-type {
                    width: 235px;
                    border: 1px solid $invis;
                    border-right: none;
                    padding: 16px 0;
    
                    &::placeholder {
                        color: $invis;
                    }
                }
    
                input:last-of-type {
                    width: 135px;
                    font-weight: 700;
                    background-color: $most;
                    color: $snow;
                    text-transform: uppercase;
                    padding: 17px 0;
                    margin-left: -5px;
                    transition: background-color .2s ease;
    
                    &:hover {
                        background-color: #87D2C4;
                    }
    
                    &:active {
                        background-color: #5C958A;
                    }
                }
            }
        }
    
        &__blogs {
            &__article {
                display: flex;
                column-gap: 30px;
    
                p:first-of-type {
                    font-weight: 700;
                    text-transform: uppercase;
                    padding: 3.5px 0;
                }
    
                p:last-of-type {
                    font-size: 13px;
                    line-height: 15px;
                    padding: 10px 0;
                }
            }
    
            &__article:nth-of-type(2) {
                margin: 20px 0;
            }
        }
    
        &__insta {
            &__photo {
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: repeat(3, 1fr);
            }
    
            &__more {
                padding: 35px 0;
    
                a {
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 15px;
                    text-decoration-line: underline;
                    color: $text;
                }
            }
        }
    }
}